*
!.gitignore
!.gitconfig

!.bash_aliases
!.bash_profile
!.bashrc

!.emacs

!.xmobarrc
!.stalonetrayrc
!.xmonad
!.xmonad/xmonad.hs

!.config/
!.config/xfiles
!.config/xfiles/*
!.config/xfiles/themes/*

!.Xresources

!.config/rofi
!.config/rofi/config
!.config/sublime-text-3
!.config/sublime-text-3/Packages
!.config/sublime-text-3/Packages/User
!.config/sublime-text-3/Packages/User/*
!.config/dunst
!.config/dunst/dunstrc

!.inputrc

!.xinitrc

!.ghci

!.icons
!.icons/*

!Readme.md
!.arch_setup.png
